/*公用样式表*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{
	margin:0;
	padding:0
}
body{
	background-color:#f3f3f3;
	font-family:'Arial','Microsoft YaHei','黑体','宋体',sans-serif;

}

ul,li{
	list-style: none;
}
a{
	text-decoration:none;
	color:#585858;
}

/*home.vue组件的带background属性的css样式 build打包时候 路径错误 放到style.css里就会正确*/
.cover-image{
	position:fixed;
	width:200px;
	background:url('./back-2.jpg') no-repeat;
	height:100%;

}

/*topic-image.vue组件的带background属性的css样式 build打包时候 路径错误 放到style.css里就会正确*/
.topic-image{
	position:fixed;
	width:200px;
	background:url('./back-3.jpg') no-repeat;
	height:100%;

} 

/*download组件带background的CSS*/
	.logo{
		background:url('./jianshu_logo.jpg');
	}
	.download_img1{
		background:url('./download_img1.png');
	}
	.app-img{
		background:url('./download_img2.png');
	}
/*login组件带background的CSS*/
	.login-logo{
		background: url('./jianshu_logo.jpg') no-repeat;
	}